.flapy p { background-color: #FFF; clear: both; color: #336699; font: bold 1.3em Helvetica; margin: 0; padding: 10px; text-align: center; }
.flapy-box { color: #777; font: bold 1.8em arial; padding: 70px 0 !important; text-align: center }
.flapy-header h3 { background-color: #FFF; font-size: 1em; margin-top: 0 }

